/*
$text-color: #eee;
$darkest: #111;
$darker: #222;
$dark: #555;
$medium: #777;
$light: #eee;
$grey: #bbb;
$text-bg: #333;
*/
@font-face {
  font-family: 'SFChaerilidae';
  src: url("../fonts/SFChaerilidae.ttf") format("truetype"); }
body {
  background: #0b0201;
  color: #ffefee;
  text-align: justify;
  line-height: 1.5em;
  font-family: "Roboto";
  font-size: 16px;
  width: 100%; }

.titlebar {
  background: #0e0e0e;
  padding: 10px 0px;
  padding-left: 5%;
  position: fixed;
  width: 100%;
  z-index: 2;
  font: 24px 'SFChaerilidae';
  color: #eee; }
  .titlebar a:hover {
    text-decoration: none; }

a, a:visited {
  color: #aaa;
  text-decoration: none; }

a:hover {
  color: #aaa;
  text-decoration: underline; }

h1,
h2 {
  color: #822f2b;
  font: "Roboto Condensed" 2.5em;
  font-weight: 300; }

h3 {
  font-weight: 300; }

div {
  margin: auto;
  font: "Roboto";
  font-weight: 300; }
  div .header {
    margin-top: 40px; }
    div .header .header-left h1.top {
      font-size: 3.5em;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 0px;
      color: #ffefee; }
    div .header .header-left h2.top {
      font-size: 2em;
      letter-spacing: 1px;
      text-align: left;
      margin-top: 20px;
      margin-right: 15px;
      padding-bottom: 0px;
      font-weight: 300;
      color: #aaa; }
    div .header .header-right {
      text-align: right;
      font-size: 0.8em; }
      div .header .header-right h2 {
        margin-top: 10px; }
      div .header .header-right h3 {
        font-size: 1.4em;
        margin-top: -5px; }
      div .header .header-right a {
        font-weight: 500;
        color: #af403a;
        text-decoration: none; }
  div .btn-primary {
    background-color: #1e0b0a;
    border-color: #1e0b0a;
    min-width: 60px; }
  div .btn-primary.active, div .btn-primary.active:hover, div .btn-primary.active.focus, div .btn-primary:hover, div .btn-primary:active, div .btn-primary:focus, div .btn-primary:active:hover {
    background-color: #491a18;
    border-color: #1e0b0a; }
  div .title {
    text-align: left; }
  div .text {
    padding: 15px;
    float: left;
    border-radius: 8px; }
  div .full-width {
    margin-bottom: 30px; }
    div .full-width h3 {
      color: #822f2b; }
  div .key {
    margin-bottom: 50px; }
    div .key .key1 {
      padding: 10px;
      padding-left: 10%; }
    div .key .key2 {
      padding: 10px; }
    div .key h3 {
      margin: 0px 0px 5px 0px;
      font-weight: 400; }
  div .data-info {
    margin-bottom: 50px; }
    div .data-info span.emphasis {
      color: #822f2b;
      font-family: "Roboto Condensed";
      font-weight: 400;
      font-size: 1.2em; }
  div .insight {
    text-align: center;
    margin: 40px 0; }
    div .insight h3 {
      font-size: 1.5em;
      font-family: "Roboto Condensed";
      font-weight: 300;
      line-height: 1.5em; }
    div .insight h3 span.emphasis {
      color: #822f2b;
      font-weight: 600; }
  div .stats {
    display: inline-block;
    padding: 1%;
    vertical-align: top;
    text-align: center; }
    div .stats h3, div .stats h4 {
      margin-top: 0px;
      font-weight: normal; }
    div .stats h4 {
      margin-bottom: 0.75em; }
  div .no-inline {
    display: block; }

.divider {
  margin-bottom: 40px;
  width: 100%;
  background: #491a18;
  padding: 30px 0;
  font-style: italic;
  margin-top: 60px;
  display: table; }
  .divider h2 {
    text-align: center;
    margin: 0px; }
  .divider .left h2 {
    color: #ffefee;
    font-family: "Roboto Condensed";
    font-weight: 700;
    font-size: 4em;
    width: 100%;
    margin-bottom: 10px; }
  .divider .right h2 {
    color: #ffefee;
    font-weight: 300;
    margin-bottom: 0px;
    line-height: 40px;
    text-align: center; }

.feedback {
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  background: #1e0b0a; }
  .feedback h3 {
    margin: 0px; }

@media (max-width: 650px) {
  div .header .header-left h1.top {
    font-size: 1.8em; }

  div .header .header-left h2.top {
    font-size: 1.2em;
    margin-top: 8px; }

  div .header .header-right h2 {
    font-size: 1.5em; } }
.header-bg {
  background: url("img/bg.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  padding-bottom: 30px; }

.button-container {
  width: 30%; }

.map svg {
  width: 100%;
  background: #1e0b0a;
  margin-bottom: 10px;
  margin-top: 20px; }
  .map svg circle {
    fill: #e18a24; }
  .map svg .state {
    fill: #fff;
    stroke: #232323;
    stroke-width: 0.25;
    stroke-linejoin: round;
    z-index: 0; }
  .map svg .event.No {
    fill-opacity: 0.7; }
  .map svg .event.Unknown {
    fill-opacity: 0.4; }
  .map svg .event.Firearm {
    fill-opacity: 0.2; }
  .map svg .overlay {
    fill: none;
    pointer-events: all; }

svg.example {
  width: 12px;
  height: 12px; }

label span {
  font-weight: 300; }

.low-opacity {
  opacity: 0.2; }

.med-opacity {
  opacity: 0.4; }

.high-opacity {
  opacity: 0.7; }

.axis path,
.axis line {
  fill: none;
  stroke: #f8f8f8;
  shape-rendering: crispEdges; }

#White {
  fill: #4e44d0;
  color: #4e44d0; }

#Black {
  fill: #ab0101;
  color: #ab0101; }

#Other {
  fill: #e18a24;
  color: #e18a24; }

.slideraxis {
  fill: gray;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.slideraxis .halo {
  stroke: gray;
  stroke-width: 4px;
  stroke-linecap: round; }

.slideraxis text {
  visibility: hidden; }

.x.axis path {
  display: none; }

text {
  fill: #ffefee;
  font-weight: 400; }

g.Black {
  fill: #fff; }

.date {
  height: 25px;
  margin-bottom: 5px;
  width: 200px;
  text-align: center; }

.date text {
  display: inline; }

#chart2 {
  margin-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
